*.exe
*.out
*.app
*.o
*.obj
*.d
*.lib
*.a
*.la
*.lai
*.dll
*.so
*.dylib
*.gch
*.pch
[Bb]uild/
[Bb]in/
[Oo]ut/
[Oo]bj/
.vscode/ipch/
.vscode/*.log
.DS_Store
Thumbs.db
desktop.ini
*
!*/
!.gitignore
!.gitattributes
!*.cpp
!*.h
!*.hpp
!*.cc
!*.c
!*.py
!*.java
!*.txt
!*.json
!*.md
!*.sh
.vscode/
